<!DOCTYPE HTML>
<html lang="es">
<head>
    <title>Admin Panel</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <noscript>
        <link rel="stylesheet" th:href="@{/css/noscript.css}"/>
    </noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a th:href="@{/}"><strong>Planning Design Artifacts</strong> gráficos estandarizados para
            publicaciones</a></h1>
        <nav>
            <ul>
                <li><a class="icon solid fa-info-circle" href="#footer">Nosotros</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div class="center-content" id="main">
        <div class="navigation">
            <a class="button primary logout" th:href="@{/logout}">Cerrar Sesión</a>
        </div>
        <div class="center-content">
            <h1>Listado de Usuarios Administradores</h1>
            <p>La tabla de abajo muestra el listado de cada administrador. Utiliza los botones correspondientes para
                modificarlos.</p>
        </div>
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Creado</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${users.isEmpty()}">
                    <td colspan="4"> No hay usuarios registrados</td>
                </tr>
                <tr th:each="user : ${users}">
                    <td><span th:text="${user.name}">Nombre</span></td>
                    <td><span th:text="${user.email}">Email</span></td>
                    <td><span class="tag tag-active tag-sm" th:if="${user.active==true}">&nbsp;Activo&nbsp;</span>
                        <span class="tag tag-inactive tag-sm" th:if="${user.active==false}">Inactivo</span></td>
                    <td><span th:text="${#temporals.format(user.creationDate, 'dd-MM-yy')}">Creado</span>
                    </td>
                    <td><a href="#">Editar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="center-content">
            <button class="button primary">Crear Usuario</button>
        </div>
    </div>
    <!--popup form-->
    <div style="visibility: hidden">
        <div class="form-popup" id="myForm">
            <h1>Crear Usuario Administrador</h1>
            <form method="post" th:action="@{/admin/create}" th:object="${admin}">
                <input id="admin_name" placeholder="Nombres completos" required th:field="*{name}" type="text"/>
                <input id="admin_email" placeholder="Email" required th:field="*{email}" type="email"/>
                <input id="admin_password" placeholder="Contraseña" required th:field="*{passwordHash}"
                       type="password"/>
                <input id="admin_active" th:field="*{active}" type="checkbox"/><label for="admin_active">Activo?</label>
                <input class="button" type="submit" value="Crear Admin"/>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="panel" id="footer">
    <div class="inner split">
        <div>
            <section>
                <h2>Grupo 3</h2>
                <p>¡Envidia, nos tienen envidia!<br>
                    Somos estudiantes del sexto ciclo (en promedio) con ganas de aprobar un curso, inspirados en
                    nuestra estimada líder y maestra. Nuestro conocimiento, unido, casi suma al de un profesional
                    completo.</p>
            </section>
            <section>
                <h2>Revisa el código...</h2>
                <ul class="icons">
                    <li><a class="icon brands fa-github" href="#"><span class="label">GitHub</span></a></li>
                </ul>
            </section>
            <p class="copyright">
                ¿Eliminar artefactos, banear usuarios?: <a th:href="@{/admin}">admin panel</a>.
            </p>
        </div>
        <div>
            <section>
                <h2>¿Nuestros chistes te parecen malos? Contactanos</h2>
                <form action="/comentarios" enctype="application/x-www-form-urlencoded" method="post"
                      th:action="@{/comentarios}">
                    <div class="fields">
                        <div class="field half">
                            <input id="name" name="name" placeholder="Nombre" type="text"/>
                        </div>
                        <div class="field half">
                            <input id="email" name="email" placeholder="Email" type="text"/>
                        </div>
                        <div class="field">
                                <textarea id="message" name="message"
                                          placeholder="Critica constructiva (o propuesta de chiste)"
                                          rows="4"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input class="primary" type="submit" value="Enviar x2"/></li>
                        <li><input type="reset" value="Borrar"/></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</footer>

</div>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.poptrox.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>