<!DOCTYPE HTML>
<html lang="es">
<head>
    <title>Admin Panel: Visitas</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=yes" name="viewport"/>
    <meta name="Creación automática de artefactos visuales. Detalles de visitas al sitio.">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <noscript>
        <link rel="stylesheet" th:href="@{/css/noscript.css}"/>
    </noscript>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/apple-touch-icon.png}">
    <link rel="icon" sizes="32x32" th:href="@{/favicon-32x32.png}" type="image/png">
    <link rel="icon" sizes="16x16" th:href="@{/favicon-16x16.png}" type="image/png">
    <link rel="manifest" th:href="@{../site.webmanifest}">
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a th:href="@{/}"><strong>Planning Design Artifacts</strong> gráficos estandarizados para
            publicaciones</a></h1>
        <nav>
            <ul>
                <li><a class="icon solid fa-info-circle" href="#footer">Nosotros</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div class="center-content" id="main">
        <div class="navigation">
            <a class="button primary logout" th:href="@{/logout}">Cerrar Sesión</a>
        </div>
        <div class="center-content">
            <h1>Listado de Visitas</h1>
            <p>La tabla de abajo muestra un resumen de las de visitas.</p>
        </div>
        <!--    TODO: add entities to controller, so we can add sums, averages, and main countries, cities, etc.-->
        <div class="table-wrapper center-content">
            <h3>Datos Generales</h3>
            <table>
                <tr>
                    <th>Visitas hoy</th>
                    <td><span th:text="${vToday}">Visitas Hoy</span></td>
                </tr>
                <tr>
                    <th>Total De Visitas</th>
                    <td><span th:text="${vTotal}">Total de visitas</span></td>
                </tr>
                <tr>
                    <th>Total Visitas de Admin</th>
                    <td><span th:text="${vWasAdmin}">Total visitas admin</span></td>
                </tr>
                <tr>
                    <th>Total Gráficos descargados</th>
                    <td><span th:text="${vDownloadedGraphs}">Total gráficos descargados</span></td>
                </tr>
                <tr>
                    <th>Total Visitas con Link</th>
                    <td><span th:text="${vFromShareLink}">Total visitas con link</span></td>
                </tr>
            </table>
        </div>
        <div class="table-wrapper center-content">
            <h3>Interacción de visitantes</h3>
            <table>
                <tr>
                    <th>Tuvieron interacción</th>
                    <td><span th:text="${vHadInteractions}">Total tuvieron interacción</span></td>
                </tr>
                <tr>
                    <th>Seleccionaron Tipo de Gráfico</th>
                    <td><span th:text="${vSelectedGraphType}">Total seleccionaron tipo de gráfico</span></td>
                </tr>
                <tr>
                    <th>Escribieron contenido</th>
                    <td><span th:text="${vTypedGraphContent}">Total escribieron contenido</span></td>
                </tr>
                <tr>
                    <th>Seleccionaron Tipo de Salida</th>
                    <td><span th:text="${vSelectedOutput}">Total seleccionaron tipo de salida</span></td>
                </tr>
                <tr>
                    <th>Generaron salidas</th>
                    <td><span th:text="${vGeneratedOutput}">Total generaron salidas</span></td>
                </tr>
                <tr>
                    <th>Copiaron link para compartir</th>
                    <td><span th:text="${vCopiedShareLink}">Total copiaron link</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>

<!-- Footer -->
<footer class="panel" id="footer">
    <div class="inner split">
        <div>
            <section>
                <h2>Grupo 3</h2>
                <p>¡Envidia, nos tienen envidia!<br>
                    Somos estudiantes del sexto ciclo (en promedio) con ganas de aprobar un curso, inspirados en
                    nuestra estimada líder y maestra. Nuestro conocimiento, unido, casi suma al de un profesional
                    completo.</p>
            </section>
            <section>
                <h2>Revisa el código...</h2>
                <ul class="icons">
                    <li><a class="icon brands fa-github" href="#"><span class="label">GitHub</span></a></li>
                </ul>
            </section>
            <p class="copyright">
                ¿Eliminar artefactos, banear usuarios?: <a th:href="@{/admin}">admin panel</a>.
            </p>
        </div>
        <div>
            <section>
                <h2>¿Nuestros chistes te parecen malos? Contactanos</h2>
                <form action="/comentarios" enctype="application/x-www-form-urlencoded" method="post"
                      th:action="@{/comentarios}">
                    <div class="fields">
                        <div class="field half">
                            <input id="name" name="name" placeholder="Nombre" type="text"/>
                        </div>
                        <div class="field half">
                            <input id="email" name="email" placeholder="Email" type="text"/>
                        </div>
                        <div class="field">
                                <textarea id="message" name="message"
                                          placeholder="Critica constructiva (o propuesta de chiste)"
                                          rows="4"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input class="primary" type="submit" value="Enviar x2"/></li>
                        <li><input type="reset" value="Borrar"/></li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script th:src="@{/js/micromodal.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.poptrox.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/modals.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>