<!DOCTYPE HTML>
<html lang="es">
<head>
    <title>PDA: Gráficos Estandarizados</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <noscript>
        <link rel="stylesheet" th:href="@{/css/noscript.css}"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a th:href="@{/}"><strong>Planning Design Artifacts</strong> gráficos estandarizados para
            publicaciones</a></h1>
        <nav>
            <ul>
                <li><a class="icon solid fa-info-circle" href="#footer">Nosotros</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        <article class="thumb">
            <a class="image" th:href="@{/images/fulls/1.png}"><img alt="" th:src="@{/images/thumbs/1.png}"/></a>
            <h2>FODA</h2>
            <p>Fortalezas, oportunidades, debilidades y amenazas.</p>
            <button class="primary">Crear</button>
        </article>
        <article class="thumb">
            <a class="image" th:href="@{/images/fulls/2.png}"><img alt="" th:src="@{/images/thumbs/2.png}"/></a>
            <h2>Lean Canvas</h2>
            <p>Identifica las principales variables de un proyecto rápido.</p>
        </article>
        <article class="thumb">
            <a class="image" th:href="@{/images/fulls/3.png}"><img alt="" th:src="@{/images/thumbs/3.png}"/></a>
            <h2>Ishikawa</h2>
            <p>Excelente forma de ver las causas y efectos.</p>
        </article>
        <article class="thumb">
            <a class="image" th:href="@{/images/fulls/4.png}"><img alt="" th:src="@{/images/thumbs/4.png}"/></a>
            <h2>Diamante de Porter</h2>
            <p>Identifica lo que te hace competitivo.</p>
        </article>
        <article class="thumb">
            <a class="image" th:href="@{/images/fulls/5.png}"><img alt="" th:src="@{/images/thumbs/5.png}"/></a>
            <h2>Listado simple</h2>
            <p>Algunas veces no necesitas complicarte tanto.</p>
        </article>
        <article class="thumb">
            <a class="image" th:href="@{/images/fulls/6.png}"><img alt="" th:src="@{/images/thumbs/6.png}"/></a>
            <h2>Pirámide organizacional</h2>
            <p>4 escalones... ¿para que más?</p>
        </article>
        <article class="thumb">
            <a class="image" th:href="@{/images/fulls/7.png}"><img alt="" th:src="@{/images/thumbs/7.png}"/></a>
            <h2>FODA cruzado</h2>
            <p>Variables que se cruzan para formar campos nuevos.</p>
        </article>
    </div>

    <!-- Footer -->
    <footer class="panel" id="footer">
        <div class="inner split">
            <div>
                <section>
                    <h2>Grupo 3</h2>
                    <p>¡Envidia, nos tienen envidia!<br>
                        Somos estudiantes del sexto ciclo (en promedio) con ganas de aprobar un curso, inspirados en
                        nuestra estimada líder y maestra. Nuestro conocimiento, unido, casi suma al de un profesional
                        completo.</p>
                </section>
                <section>
                    <h2>Revisa el código...</h2>
                    <ul class="icons">
                        <li><a class="icon brands fa-github" href="#"><span class="label">GitHub</span></a></li>
                    </ul>
                </section>
                <p class="copyright">
                    ¿Eliminar artefactos, banear usuarios?: <a th:href="@{/admin}">admin panel</a>.
                </p>
            </div>
            <div>
                <section>
                    <h2>¿Nuestros chistes te parecen malos? Contactanos</h2>
                    <form action="/comentarios" enctype="application/x-www-form-urlencoded" method="post"
                          th:action="@{/comentarios}">
                        <div class="fields">
                            <div class="field half">
                                <input id="name" name="name" placeholder="Nombre" type="text"/>
                            </div>
                            <div class="field half">
                                <input id="email" name="email" placeholder="Email" type="text"/>
                            </div>
                            <div class="field">
                                <textarea id="message" name="message"
                                          placeholder="Critica constructiva (o propuesta de chiste)"
                                          rows="4"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input class="primary" type="submit" value="Enviar"/></li>
                            <li><input type="reset" value="Borrar"/></li>
                        </ul>
                    </form>
                </section>
            </div>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.poptrox.min.js}"></script>
<script th:src="@{/js/browser.min.js}"></script>
<script th:src="@{/js/breakpoints.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>